<div class="container pull-right">
  <app-albumform></app-albumform>
</div>
<div class="container pull-right">
          <ul *ngIf="albumObservable | async as images else empty">
            <li *ngFor="let image of images">

          <!--<a [routerLink]= "['', image.url]">-->
          <!--<a href="{{image.url}}">-->
            <!--<button >-->
              <img src="{{image.thumbnailUrl}}" class="btn" width="150" height="150" type="button" data-toggle="modal" data-target="#theModal">
            <!--</button>-->
          <div id="theModal" class="modal" role="dialog">
            <div class="modal-dialog">

              <div class="modal-content">
                // <!--<div class="modal-header">-->
                //   <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                // <!--</div>-->
                <div class="modal-body">
                  <img src="{{image.url}}" class="tn" width="600" height="600">

                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>

            </div>
          </div>
          <!--</a>-->
        </li>
      </ul>
  <ng-template #empty>Loading Images on Album...</ng-template>

</div>
    <div class="row" style="height: 30%">
      <app-map>
      </app-map>
    </div>
