ul { padding: 0; width: 1200px; margin: 0px auto; }
li { display: inline; }

.tn{
  margin: 6px;
  border: 2px solid #000;
  /*-webkit-box-shadow: inset hoff voff blur #000;*/
  /*-moz-box-shadow: inset hoff voff blur #000;*/
  box-shadow: inset  #fff;
}
