<!--The content below is only a placeholder and can be replaced.-->
<head>
  <meta charset="utf-8">
  <title>Exercise1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<app-panel></app-panel>

<router-outlet></router-outlet>
