<div class="container">
  <div class = "row">

    <div class="form-group">
      <label>
        Image Url:
      </label>
      <input type="text" [formControl]="url" />
      <!--<p>-->
        <!--Taking: {{ url.value }}-->
      <!--</p>-->
    </div>&nbsp;
    <div class="form-group">
      <button (click)="sendUrl()" class="btn btn-dark">Send</button>
    </div>
  </div>

</div>
